# This is the general configuration.
path = "example_program" # Relative to this file
continue_on_fail    = true
line_endings_strict = false

[Green_Test0]
input      = "-some -program -arguments"
output     = "-some -program -arguments"
output_err = "/Users/bc/source/test_runner/test
"
exit_code  = 69

[Green_Test1]
input      = "-some -program -arguments"
output     = "-some -program -arguments"
output_err = "/Users/bc/source/test_runner/test
"
exit_code  = 69

[Failing_Test]
input      = "ARG2"
output     = "OUT2"
output_err = "OUT_ERR2"
exit_code  = 222

